In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

import pandas as pd
import numpy as np
from pylab import rcParams

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, precision_recall_curve
from sklearn.metrics import recall_score, classification_report, auc, roc_curve
from sklearn.metrics import precision_recall_fscore_support, f1_score

from sklearn.metrics import accuracy_score

from xgboost import XGBClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from numpy import mean

from numpy.random import seed
seed(7)

from sklearn.model_selection import train_test_split

SEED = 123 #used to help randomly select the data points
DATA_SPLIT_PCT = 0.2

rcParams['figure.figsize'] = 8, 6
LABELS = ["Normal","Break"]

In [2]:
df = pd.read_csv("processed_data5.csv") 
df.head(n=5)  # visualize the data.

,Unnamed: 0,time,y,x3,x2,x18,x17,x16,x12,x19,...,expanding_mean_x12,expanding_mean_x19,expanding_mean_x54,expanding_mean_x40,expanding_mean_x45,expanding_mean_x6,expanding_mean_x11,expanding_mean_x29,expanding_mean_x32,expanding_mean_x15
0,0,5/1/99 0:00,0,-4.095756,-4.596435,-0.944167,-2.327329,0.199901,-0.052959,3.075199,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,5/1/99 0:02,0,-4.018359,-4.542502,-0.939994,-2.340627,0.304313,-0.014244,3.075199,...,-0.033601,3.075199,-4.936807,-0.720746,-0.766362,-19.713981,0.875612,-134.379025,9.358485,0.041623
2,2,5/1/99 0:04,0,-4.353147,-4.681394,-0.935824,-2.353925,0.252839,0.065150,3.075199,...,-0.000684,3.075199,-4.937179,-0.720746,-0.523500,-19.088198,0.918711,-134.234880,9.251460,0.041447
3,3,5/1/99 0:06,0,-4.023612,-4.758934,-0.931651,-2.367223,0.072873,-0.067199,3.075199,...,-0.017313,3.075199,-4.937552,-0.720746,-0.639478,-18.945549,0.921543,-134.176807,9.193751,0.041271
4,4,5/1/99 0:08,0,-4.333150,-4.749928,-0.927478,-2.380521,0.171033,-0.018472,3.075199,...,-0.017545,3.075199,-4.937924,-0.720746,-0.559271,-18.657622,0.902916,-133.970588,9.223847,0.041095

In [3]:
sign = lambda x: (1, -1)[x < 0]

def curve_shift(df, shift_by):
    '''
    This function will shift the binary labels in a dataframe.
    The curve shift will be with respect to the 1s. 
    For example, if shift is -2, the following process
    will happen: if row n is labeled as 1, then
    - Make row (n+shift_by):(n+shift_by-1) = 1.
    - Remove row n.
    i.e. the labels will be shifted up to 2 rows up.
    
    Inputs:
    df       A pandas dataframe with a binary labeled column. 
             This labeled column should be named as 'y'.
    shift_by An integer denoting the number of rows to shift.
    
    Output
    df       A dataframe with the binary labels shifted by shift.
    '''

    vector = df['y'].copy()
    for s in range(abs(shift_by)):
        tmp = vector.shift(sign(shift_by))
        tmp = tmp.fillna(0)
        vector += tmp
    labelcol = 'y'
    # Add vector to the df
    df.insert(loc=0, column=labelcol+'tmp', value=vector)
    # Remove the rows with labelcol == 1.
    df = df.drop(df[df[labelcol] == 1].index)
    # Drop labelcol and rename the tmp col as labelcol
    df = df.drop(labelcol, axis=1)
    df = df.rename(columns={labelcol+'tmp': labelcol})
    # Make the labelcol binary
    df.loc[df[labelcol] > 0, labelcol] = 1

    return df

In [4]:
'''
Shift the data by 2 units, equal to 4 minutes.

Test: Testing whether the shift happened correctly.
'''
print('Before shifting')  # Positive labeled rows before shifting.
one_indexes = df.index[df['y'] == 1]
display(df.iloc[(one_indexes[0]-3):(one_indexes[0]+2), 0:5].head(n=5))

# Shift the response column y by 2 rows to do a 4-min ahead prediction.
df = curve_shift(df, shift_by = -2)

print('After shifting')  # Validating if the shift happened correctly.
display(df.iloc[(one_indexes[0]-4):(one_indexes[0]+1), 0:5].head(n=5))

Before shifting

     Unnamed: 0          time  y         x3         x2
256         256   5/1/99 8:32  0  -1.097158  -4.058394
257         257   5/1/99 8:34  0  -1.074373  -3.876199
258         258   5/1/99 8:36  0  -1.249954  -3.868467
259         259   5/1/99 8:38  1 -10.006578 -13.332664
260         260  5/1/99 10:50  0  -1.248529  -3.987897

After shifting

       y  Unnamed: 0          time        x3        x2
255  0.0         255   5/1/99 8:30 -1.133779 -3.865720
256  0.0         256   5/1/99 8:32 -1.097158 -4.058394
257  1.0         257   5/1/99 8:34 -1.074373 -3.876199
258  1.0         258   5/1/99 8:36 -1.249954 -3.868467
260  0.0         260  5/1/99 10:50 -1.248529 -3.987897

In [5]:
# Remove time column
df = df.drop(['time'], axis=1)

In [6]:
X = df.drop(['y'], axis=1)
y = df['y']

In [7]:
X= X.drop(['Unnamed: 0'], axis=1)

In [8]:
X
X=X.fillna(0)

In [11]:
X

,x3,x2,x18,x17,x16,x12,x19,x54,x40,x45,...,expanding_mean_x12,expanding_mean_x19,expanding_mean_x54,expanding_mean_x40,expanding_mean_x45,expanding_mean_x6,expanding_mean_x11,expanding_mean_x29,expanding_mean_x32,expanding_mean_x15
0,-4.095756,-4.596435,-0.944167,-2.327329,0.199901,-0.052959,3.075199,-4.936434,-0.720746,-0.657096,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,-4.018359,-4.542502,-0.939994,-2.340627,0.304313,-0.014244,3.075199,-4.937179,-0.720746,-0.875629,...,-0.033601,3.075199,-4.936807,-0.720746,-0.766362,-19.713981,0.875612,-134.379025,9.358485,0.041623
2,-4.353147,-4.681394,-0.935824,-2.353925,0.252839,0.065150,3.075199,-4.937924,-0.720746,-0.037775,...,-0.000684,3.075199,-4.937179,-0.720746,-0.523500,-19.088198,0.918711,-134.234880,9.251460,0.041447
3,-4.023612,-4.758934,-0.931651,-2.367223,0.072873,-0.067199,3.075199,-4.938669,-0.720746,-0.987410,...,-0.017313,3.075199,-4.937552,-0.720746,-0.639478,-18.945549,0.921543,-134.176807,9.193751,0.041271
4,-4.333150,-4.749928,-0.927478,-2.380521,0.171033,-0.018472,3.075199,-4.939414,-0.720746,-0.238445,...,-0.017545,3.075199,-4.937924,-0.720746,-0.559271,-18.657622,0.902916,-133.970588,9.223847,0.041095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18393,0.406426,0.786430,-0.559565,-0.527784,-0.209548,-0.013282,-3.926967,2.682413,0.309253,-0.995204,...,0.014971,0.464607,0.173162,-0.036519,0.090404,2.382622,-0.011085,7.049930,-0.401662,0.001103
18394,0.561918,0.633086,-0.567920,-0.527784,-0.098630,-0.087923,-3.926967,2.683338,0.309253,-0.635085,...,0.014965,0.464368,0.173298,-0.036500,0.090364,2.383888,-0.011107,7.051073,-0.401389,0.001104
18395,0.334582,0.450126,-0.576274,-0.527784,-0.092927,-0.019256,-3.926967,2.684263,0.309253,-0.642386,...,0.014963,0.464130,0.173434,-0.036482,0.090324,2.385121,-0.011128,7.052192,-0.401122,0.001105
18396,0.387263,0.419383,-0.584628,-0.527784,-0.053735,0.029572,-3.926967,2.685189,0.309253,-0.960654,...,0.014964,0.463891,0.173571,-0.036463,0.090267,2.386319,-0.011146,7.053330,-0.400831,0.001106
18397,0.593416,0.582710,-0.592982,-0.527784,-0.062127,0.016245,-3.926967,2.686114,0.309253,-0.755065,...,0.014964,0.463652,0.173708,-0.036444,0.090221,2.387533,-0.011166,7.054580,-0.400527,0.001107

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
X_train.shape, X_test.shape

((14619, 75), (3655, 75))

In [13]:
# Feature scaling

In [14]:
cols = X_train.columns

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

X_train = pd.DataFrame(X_train, columns=[cols])
X_test = pd.DataFrame(X_test, columns=[cols])

In [15]:
# define model
model = XGBClassifier()
# define evaluation procedure
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
# evaluate model
scores = cross_val_score(model, X, y, scoring='roc_auc', cv=cv, n_jobs=-1)
# summarize performance
print('Mean ROC AUC: %.5f' % mean(scores))

Mean ROC AUC: 0.90072

In [16]:
model = XGBClassifier()

clf_0 = model.fit(X_train, y_train)

In [17]:
pred_y_0 = clf_0.predict(X_test)

print(accuracy_score(pred_y_0, y_test))

0.987140902872777

In [18]:
target_names = ['class 0', 'class 1']
print(classification_report(y_test, pred_y_0, target_names=target_names))

# View confusion matrix for test data and predictions
confusion_matrix(y_test, pred_y_0)

              precision    recall  f1-score   support

     class 0       0.99      1.00      0.99      3608
     class 1       0.50      0.02      0.04        47

    accuracy                           0.99      3655
   macro avg       0.74      0.51      0.52      3655
weighted avg       0.98      0.99      0.98      3655

array([[3607,    1],
       [  46,    1]])

# Weighted XGBoost for Class Imbalance

In [19]:
# define model
#scale_pos_weight=total_negative_examples / total_positive_examples
#total number of examples in the majority class / total number of examples in the minority class.
#18274/124=147.37
model = XGBClassifier(scale_pos_weight=147)

# define evaluation procedure
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
# evaluate model
scores = cross_val_score(model, X, y, scoring='roc_auc', cv=cv, n_jobs=-1)
# summarize performance
print('Mean ROC AUC: %.5f' % mean(scores))

Mean ROC AUC: 0.89813

In [20]:
clf_1 = model.fit(X_train, y_train)
pred_y_1 = clf_1.predict(X_test)

print(accuracy_score(pred_y_1, y_test))

0.987140902872777

In [21]:
target_names = ['class 0', 'class 1']
print(classification_report(y_test, pred_y_1, target_names=target_names))

# View confusion matrix for test data and predictions
confusion_matrix(y_test, pred_y_1)

              precision    recall  f1-score   support

     class 0       0.99      1.00      0.99      3608
     class 1       0.50      0.19      0.28        47

    accuracy                           0.99      3655
   macro avg       0.74      0.59      0.64      3655
weighted avg       0.98      0.99      0.98      3655

array([[3599,    9],
       [  38,    9]])

# Tune with GridSearch CV

In [22]:
# define grid
weights = [1, 10, 25, 50, 75, 99, 100, 1000]
param_grid = dict(scale_pos_weight=weights)

In [23]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RepeatedStratifiedKFold
# define evaluation procedure
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
# define grid search
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=cv, scoring='roc_auc')

In [ ]:
# execute the grid search
grid_result = grid.fit(X, y)
# report the best configuration
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
# report all configurations
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

In [26]:
# define model
model = XGBClassifier(scale_pos_weight=850)

# define evaluation procedure
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
# evaluate model
scores = cross_val_score(model, X, y, scoring='roc_auc', cv=cv, n_jobs=-1)
# summarize performance
print('Mean ROC AUC: %.5f' % mean(scores))

Mean ROC AUC: 0.88399

In [29]:
clf_2 = model.fit(X_train, y_train)
pred_y_2 = clf_2.predict(X_test)

print(accuracy_score(pred_y_2, y_test))

0.9879616963064295

In [30]:
target_names = ['class 0', 'class 1']
print(classification_report(y_test, pred_y_2, target_names=target_names))

# View confusion matrix for test data and predictions
confusion_matrix(y_test, pred_y_2)

              precision    recall  f1-score   support

     class 0       0.99      1.00      0.99      3608
     class 1       0.55      0.36      0.44        47

    accuracy                           0.99      3655
   macro avg       0.77      0.68      0.71      3655
weighted avg       0.99      0.99      0.99      3655

array([[3594,   14],
       [  30,   17]])